{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionReceta/" method="post">
      {% csrf_token %}
      <b>Ingrediente</b>
      <select class="form-control" name="id_sg_ingrediente" id="id_sg_ingrediente" required>
        <option value="">--Seleccione el tipo de Ingrediente--</option>
      {% for ingrediente in ingredientes %}
      <option value="{{ingrediente.id_sg}}">
      {{ingrediente.nombreingrediente_sg}}
      </option>
     {% endfor %}
    </select>
    <script type="text/javascript">
        document.getElementById("id_sg_ingrediente").value="{{receta.ingrediente.id_sg}}";
      </script>
  <br>
   <b>Platillo</b>
      <select class="form-control" name="id_sg_platillo" id="id_sg_platillo" required>
        <option value="">--Seleccione el tipo de Platillo--</option>
      {% for platillo in platillos %}
      <option value="{{platillo.id_sg}}">
      {{platillo.nombreplatillo_sg}}
      </option>
     {% endfor %}
    </select>
    <script type="text/javascript">
        document.getElementById("id_sg_platillo").value="{{receta.platillo.id_sg}}";
      </script>

      <br>
      <input type="hidden" name="id_sg"  value="{{receta.id_sg}}" class="form-control" required>
      <br>
      <b>Nombre Receta:</b>
      <input type="text" name="nombrereceta_sg" id="nombrereceta_sg" oninput="soloLetras(this)" value="{{receta.nombrereceta_sg}}" placeholder="Ingrese el nombre de la receta " class="form-control" required>
      <br>
      <b>Descripcion:</b>
      <input type="text" name="descripcion_sg" id="descripcion_sg" value="{{receta.descripcion_sg}}" placeholder="Ingrese la descripcion " class="form-control" required>
      <br>
      <b>Cantidad:</b>
      <input type="text" name="cantidad_sg" id="cantidad_sg"oninput="soloNumeros(this)" value="{{receta.cantidad_sg}}" placeholder="Ingrese la cantidad " class="form-control" required>
      <br>
      <b>Tiempo:</b>
      <input type="time" name="tiempopreparacion_sg" id="tiempopreparacion_sg" value="{{receta.tiempopreparacion_sg}}" placeholder="Ingrese el tiempo de preparacion " class="form-control" required>

   <center>
       <button type="submit" name="button" class="btn btn-warning ">
           &nbsp;&nbsp;&nbsp; Guardar &nbsp;&nbsp;&nbsp;
       </button>&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="/listado_receta/" class="btn btn-danger">Cancelar</a>
   </center>
</form>
  </div>
</div>
{% endblock %}
