{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionProvincia/" method="post">
      {% csrf_token %}
      <br>
      <input type="hidden" name="id_sg" oninput="soloLetras(this)" value="{{provincia.id_sg}}" class="form-control" required>
      <b>Nombre:</b>
      <input type="text" name="nombre_sg" id="nombre_sg" oninput="soloLetras(this)" value="{{provincia.nombre_sg}}" placeholder="Ingrese el nombre" class="form-control" required>
      <br>
      <b>Region:</b>
      <input type="text" id="region_sg" name="region_sg"  oninput="soloLetras(this)" value="{{provincia.region_sg}}" placeholder="Ingrese la region" class="form-control" required>
      <br>
      <b>Clima:</b>
      <input type="text" id="clima_sg" name="clima_sg" oninput="soloLetras(this)" value="{{provincia.clima_sg}}" placeholder="Ingrese el clima" class="form-control" required>
      <br>
      <b>Gatronomia Local:</b>
      <input type="text" name="gastronomialocal_sg" id="gastronomialocal_sg" oninput="soloLetras(this)"
       value="{{provincia.gastronomialocal_sg}}" placeholder="Gastronomia Local" class="form-control"  required>


   <center>
       <button type="submit" name="button" class="btn btn-warning ">
           &nbsp;&nbsp;&nbsp; Guardar &nbsp;&nbsp;&nbsp;
       </button>&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="/" class="btn btn-danger">Cancelar</a>
   </center>
</form>
  </div>
</div>
{% endblock %}
