{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionPedido/" method="post">
      {% csrf_token %}
      <select class="form-control" name="id_sg_cliente" id="id_sg_cliente" required>
        <option value="">--Seleccione el tipo de Cliente--</option>
      {% for cliente in clientes %}
      <option value="{{cliente.id_sg}}">
      {{cliente.nombre_sg}}
      </option>
     {% endfor %}
    </select>
    <script type="text/javascript">
        document.getElementById("id_sg_cliente").value="{{pedido.cliente.id_sg}}";
      </script>
      <br>
      <input type="hidden" name="id_sg"  value="{{pedido.id_sg}}" class="form-control" required>
      <b>Tipo:</b>
      <input type="text" name="cliente_sg" id="cliente_sg" oninput="soloLetras(this)" value="{{pedido.cliente_sg}}" placeholder="Ingrese el nombre del Cliente" class="form-control" required>
      <br>
      <b>Fecha Pedido:</b>
      <input type="datetime-local" id="fechapedido_sg" name="fechapedido_sg" value="{{ pedido.fechapedido_sg|date:'Y-m-d\TH:i' }}" placeholder="Ingrese la Fecha del pedido" class="form-control" required>
      <br>

      <b>Estado:</b>
      <input type="text" name="estado_sg" id="estado_sg" oninput="soloLetras(this)" value="{{pedido.estado_sg}}" placeholder="Ingrese el estado" class="form-control" required>

   <center>
       <button type="submit" name="button" class="btn btn-warning ">
           &nbsp;&nbsp;&nbsp; Guardar &nbsp;&nbsp;&nbsp;
       </button>&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="/listado_pedido/" class="btn btn-danger">Cancelar</a>
   </center>
</form>
  </div>
</div>
{% endblock %}
