{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionIngrediente/" method="post">
      {% csrf_token %}
      <br>
      <input type="hidden" name="id_sg"  value="{{ingrediente.id_sg}}" class="form-control" required>
      <b>Cliente:</b>
      <input type="text" name="nombreingrediente_sg" id="nombreingrediente_sg" oninput="soloLetras(this)" value="{{ingrediente.nombreingrediente_sg}}" placeholder="Ingrese el nombre del Cliente" class="form-control" required>
      <br>
      <b>Descripcion:</b>
      <input type="text" id="descripcioningrediente_sg" name="descripcioningrediente_sg" value="{{ingrediente.descripcioningrediente_sg}}" placeholder="Ingrese la Fecha la descripcion" class="form-control" required>
      <br>
      <b>Proveedor:</b>
      <input type="text" name="proveedor_sg" id="proveedor_sg" oninput="soloLetras(this)" value="{{receta.proveedor_sg}}" placeholder="Ingrese el nombre del proveedor " class="form-control" required>
      <br>
      <b>Cantidad:</b>
      <input type="number" name="cantidaddisponible_sg" id="cantidaddisponible_sg" oninput="soloNumeros(this)" value="{{ingrediente.cantidaddisponible_sg}}" placeholder="Ingrese la cantidad disponible " class="form-control" required>

   <center>
       <button type="submit" name="button" class="btn btn-warning ">
           &nbsp;&nbsp;&nbsp; Guardar &nbsp;&nbsp;&nbsp;
       </button>&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="/listado_ingrediente/" class="btn btn-danger">Cancelar</a>
   </center>
</form>
  </div>
</div>
{% endblock %}
