{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionPlatillo/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <select class="form-control" name="id_sg_tipo" id="id_sg_tipo" required>
        <option value="">--Seleccione el tipo --</option>
      {% for tipo in tipos %}
    <option value="{{tipo.id_sg}}">
    {{tipo.nombre_sg}}
    </option>
    {% endfor %}
    </select>
    <script type="text/javascript">
        document.getElementById("id_sg_tipo").value="{{platillo.tipo.id_sg}}";
      </script>

      <br>
      <input type="hidden" name="id_sg"  value="{{platillo.id_sg}}" class="form-control" required>
      <b>Nombre:</b>
      <input type="text" name="nombreplatillo_sg" id="nombreplatillo_sg" oninput="soloLetras(this)" value="{{platillo.nombreplatillo_sg}}" placeholder="Ingrese el nombre del Platillo" class="form-control" required>
      <br>
      <b>Descripcion:</b>
      <input type="text" id="descripcionplatillo_sg" name="descripcionplatillo_sg" value="{{platillo.descripcionplatillo_sg}}" placeholder="Ingrese la descripcion del platillo" class="form-control" required>
      <br>
      <b>Precio:</b>
      <input type="text" name="precio_sg" id="precio_sg" oninput="soloTotal(this)" value="{{platillo.precio_sg}}" placeholder="Ingrese el precio" class="form-control" required>
      <b>Fotografia:</b>
      <input type="file" name="fotografia" id="fotografia" class="form-control" accept="image/*">
      <br>
   <center>
       <button type="submit" name="button" class="btn btn-warning ">
           &nbsp;&nbsp;&nbsp; Guardar &nbsp;&nbsp;&nbsp;
       </button>&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="/listado_platillo/" class="btn btn-danger">Cancelar</a>
   </center>
</form>
  </div>
</div>
{% endblock %}
