{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionTipo/" method="post">
      {% csrf_token %}
      <br>
      <input type="hidden" name="id_sg"  value="{{tipo.id_sg}}" class="form-control" required>
      <b>Nombre:</b>
      <input type="text" name="nombre_sg" id="nombre_sg"  oninput="soloLetras(this)" value="{{tipo.nombre_sg}}" placeholder="Ingrese el nombre" class="form-control" required>
      <br>
      <b>Descripcion:</b>
      <input type="text" id="descripcion_sg" name="descripcion_sg" value="{{tipo.descripcion_sg}}" placeholder="Ingrese la descripcion" class="form-control" required>
      <b>Contenido Nutrcional:</b>
      <input type="text" id="contenidonutricional_sg" name="contenidonutricional_sg" value="{{tipo.contenidonutricional_sg}}" placeholder="Ingrese el contenido Nutricional" class="form-control" required>


   <center>
       <button type="submit" name="button" class="btn btn-warning ">
           &nbsp;&nbsp;&nbsp; Guardar &nbsp;&nbsp;&nbsp;
       </button>&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="/listado_tipo/" class="btn btn-danger">Cancelar</a>
   </center>
</form>
  </div>
</div>
{% endblock %}
