{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionDetalle/" method="post">
      {% csrf_token %}
      <b>Fecha:</b>
      <input type="date" name="fecha_sg"  value="{{detalle.fecha_sg|date:'Y-m-d'}}" class="form-control" required readonly>
      <b>Observaciones:</b>
      <input type="text" name="observaciones_sg"  value="{{detalle.observaciones_sg}}" class="form-control" required>

      <b>Tipo Pedido</b>
      <select class="form-control" name="id_sg_pedido" id="id_sg_pedido" required>
        <option value="">--Seleccione el tipo de Pedido--</option>
      {% for pedido in pedidos %}
      <option value="{{pedido.id_sg}}">
      {{pedido.cliente_sg}}
      </option>
     {% endfor %}
     </select>
     <script type="text/javascript">
         document.getElementById("id_sg_pedido").value="{{detalle.pedido.id_sg}}";
       </script>
     <br>
     <b>Tipo Platillo:</b>
     <select class="form-control" name="id_sg_platillo" id="id_sg_platillo" required>
       <option value="">--Seleccione el tipo de Platillo--</option>
     {% for platillo in platillos %}
     <option value="{{platillo.id_sg}}">
     {{platillo.nombreplatillo_sg}}
     </option>
    {% endfor %}
    </select>
    <script type="text/javascript">
        document.getElementById("id_sg_platillo").value="{{detalle.platillo.id_sg}}";
      </script>
      <br>
      <input type="hidden" name="id_sg"  value="{{detalle.id_sg}}" class="form-control" required>
      <b>Total:</b>
      <input type="text" name="total_sg"  value="{{detalle.total_sg}}" class="form-control" required>

   <center>
       <button type="submit" name="button" class="btn btn-warning ">
           &nbsp;&nbsp;&nbsp; Guardar &nbsp;&nbsp;&nbsp;
       </button>&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="/listado_detalle/" class="btn btn-danger">Cancelar</a>
   </center>
</form>
  </div>
</div>
{% endblock %}
