{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCliente/" method="post">
      {% csrf_token %}
      <select class="form-control" name="id_sg_provincia" id="id_sg_provincia" required>
        <option value="">--Seleccione el tipo de Provincia--</option>
      {% for provincia in provincias %}
      <option value="{{provincia.id_sg}}">
      {{provincia.nombre_sg}}
      </option>
     {% endfor %}
    </select>
    <script type="text/javascript">
        document.getElementById("id_sg_provincia").value="{{cliente.provincia.id_sg}}";
      </script>
      <br>
      <b>Id:</b>
      <input type="hidden" name="id_sg"  value="{{cliente.id_sg}}" class="form-control" required>
      <b>Nombre:</b>
      <input type="text" name="nombre_sg" id="nombre_sg"oninput="soloLetras(this)" value="{{cliente.nombre_sg}}" placeholder="Ingrese el nombre" class="form-control" required>
      <br>
      <b>Direccion:</b>
      <input type="text" id="direccion_sg" name="direccion_sg" oninput="soloLetras(this)" value="{{cliente.direccion_sg}}" placeholder="Ingrese la dirección" class="form-control" required>
      <br>
      <b>Telefono:</b>
      <input type="number" id="telefono_sg" name="telefono_sg" oninput="soloNumeros(this)" value="{{cliente.telefono_sg}}" placeholder="Ingrese el telefono" class="form-control" required>

   <center>
       <button type="submit" name="button" class="btn btn-warning ">
           &nbsp;&nbsp;&nbsp; Guardar &nbsp;&nbsp;&nbsp;
       </button>&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="/listado_cliente/" class="btn btn-danger">Cancelar</a>
   </center>
</form>
  </div>
</div>
{% endblock %}
