{% extends "./plantilla.html" %}

{% block contenido %}
  <h1 class="text-center">LISTADO INGREDIENTE</h1>
  <br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="" action="/guardarIngrediente/" method="post" id="frm_nuevo_ingrediente">
          {% csrf_token %}

          <div class="form-group">
            <label for="nombreingrediente_sg"><b>Nombre:</b></label>
            <input type="text" id="nombreingrediente_sg" name="nombreingrediente_sg" oninput="soloLetras(this)" value="" placeholder="Ingrese el nombre del Ingrediente" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="descripcioningrediente_sg"><b>Descripcion:</b></label>
            <input type="text" id="descripcioningrediente_sg" name="descripcioningrediente_sg" value="" placeholder="Ingrese la descripcion del Ingrediente" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="proveedor_sg"><b>Proveedor:</b></label>
            <input type="text" id="proveedor_sg" name="proveedor_sg" oninput="soloLetras(this)" value="" placeholder="Ingrese el proveedor" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="cantidaddisponible_sg"><b>Cantidad:</b></label>
            <input type="text" id="cantidaddisponible_sg" name="cantidaddisponible_sg" oninput="soloNumeros(this)" value="" placeholder="Ingrese la cantidad " class="form-control" required>
          </div>


          <br>
          <div class="text-center">
            <button type="submit" name="button" class="btn btn-primary">Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-md-12">
        <table class="table table-info" class="table" id="tbl_ingredientes">
          <thead class="">
            <tr>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>DESCRIPCION INGREDIENTE</th>
              <th>PROVEEDOR</th>
              <th>CANTIDAD</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for ingrediente in ingredientes %}
              <tr>
                <td>{{ ingrediente.id_sg}}</td>
                <td>{{ ingrediente.nombreingrediente_sg }}</td>
                <td>{{ ingrediente.descripcioningrediente_sg}}</td>
                <td>{{ ingrediente.proveedor_sg}}</td>
                <td>{{ ingrediente.cantidaddisponible_sg}}</td>
                <td>
                  <a href="/editarIngrediente/{{ingrediente.id_sg}}" class="btn btn-warning">Editar</a>
                  <a href="#"class="btn btn-danger" onclick="eliminarIngrediente('/eliminarIngrediente/{{ingrediente.id_sg}}')">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function guardarEst() {
      iziToast.info({
        title: 'Hello',
        message: 'Ingrediente guardada exitosamente!',
        position: 'topRight',
      });
    }
    document.getElementById('guardarBtn').addEventListener('click', function (event) {
      event.preventDefault();
      guardarEst();
    });
  </script>

  <script type="text/javascript">
    function eliminarIngrediente(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el ingrediente seleccionada?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_ingrediente").validate({
      rules: {
        "id_sg": {
          required: true
        },
        "nombreingrediente_sg": {
          required: true
        },
        "descripcioningrediente_sg": {
          required: true
        }

        "proveedor_sg": {
          required: true
        }

        "cantidad_sg": {
          required: true
        }
      },
      messages: {
        "id_sg": {
          required: "Por favor seleccione el id del ingrediente"
        },
        "nombreingrediente_sg": {
          required: "Debe ingresar el nombre del ingrediente "
        },
        "descripcioningrediente_sg": {
          required: "Debe ingresar la descripcion del ingrediente"
        }
        "proveedor_sg": {
          required: "Debe ingresar el proveedor del ingrediente"
        }
        "cantidad_sg": {
          required: "Debe ingresar la cantidad del ingrediente"
        }
      }
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
        // Inicializa DataTable con el archivo de idioma español y botones
        $('#tbl_ingredientes').DataTable({
          dom: 'Bfrtip',
          buttons: [
            { extend: 'print', className: 'btn btn-primary' ,text: 'Imprimir'},
            { extend: 'pdf', className: 'btn btn-danger', text:' PDF' },
            { extend: 'csv', className: 'btn btn-success', text:' CSV ' }
          ],
          "language": {
             url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
          }
        });
      });
  </script>
{% endblock %}
