{% extends "./plantilla.html" %}

{% block contenido %}
  <h1 class="text-center">LISTADO RECETA</h1>
  <br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="" action="/guardarReceta/" method="post" id="frm_nuevo_receta">
          {% csrf_token %}
          <div class="form-group">
            <label for="nombrereceta_sg"><b>Nombre Receta:</b></label>
            <input type="text" id="nombrereceta_sg" name="nombrereceta_sg" oninput="soloLetras(this)" value="" placeholder="Ingrese el nombre de la receta" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="descripcion_sg"><b>Descripcion:</b></label>
            <input type="text" id="descripcion_sg" name="descripcion_sg" value="" placeholder="Ingrese la descripcion" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="cantidad_sg"><b>Cantidad:</b></label>
            <input type="text" id="cantidad_sg" name="cantidad_sg" oninput="soloNumeros(this)" value="" placeholder="Ingrese la cantidad" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="tiempopreparacion_sg"><b>Tiempo :</b></label>
            <input type="time" id="tiempopreparacion_sg" name="tiempopreparacion_sg" value="" class="form-control" required>
          </div>




          <div class="form-group">
            <label for="id_sg_ingrediente"><b>Ingrediente:</b></label>
            <select class="form-control" name="id_sg_ingrediente" id="id_sg_ingrediente" required>
              <option value="">--Seleccione el tipo de Ingrediente--</option>
              {% for ingrediente in ingredientes %}
                <option value="{{ingrediente.id_sg}}">
                  {{ingrediente.nombreingrediente_sg}}
                </option>
              {% endfor %}
            </select>

            <div class="form-group">
              <label for="id_sg_platillo"><b>Platillo:</b></label>
              <select class="form-control" name="id_sg_platillo" id="id_sg_platillo" required>
                <option value="">--Seleccione el tipo de Platillo--</option>
                {% for platillo in platillos %}
                  <option value="{{platillo.id_sg}}">
                    {{platillo.nombreplatillo_sg}}
                  </option>
                {% endfor %}
              </select>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="submit" name="button" class="btn btn-primary">Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
      </form>
      </div>
    </div>


</div>
  <div class="row mt-4 justify-content-center">
      <div class="col-md-12">
        <table  class="table table-info" class="table" id="tbl_recetas">
          <thead class="">
            <tr>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>DESCRIPCION</th>
              <th>CANTIDAD</th>
              <th>TIEMPO</th>
              <th>INGREDIENTE</th>
              <th>PLATILLO</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for receta in recetas %}
              <tr>
                <td>{{ receta.id_sg}}</td>
                <td>{{ receta.nombrereceta_sg}}</td>
                <td>{{ receta.descripcion_sg}}</td>
                <td>{{ receta.cantidad_sg }}</td>
                <td>{{ receta.tiempopreparacion_sg}}</td>
                <td>{{ receta.ingrediente.nombreingrediente_sg}}</td>
                <td>{{ receta.platillo.nombreplatillo_sg}}</td>
                <td>
                  <a href="/editarReceta/{{receta.id_sg}}" class="btn btn-warning">Editar</a>
                  <a href="#" class="btn btn-danger" onclick="eliminarReceta('/eliminarReceta/{{receta.id_sg}}')">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function guardarEst() {
      iziToast.info({
        title: 'Hello',
        message: 'Receta guardada exitosamente!',
        position: 'topRight',
      });
    }
    document.getElementById('guardarBtn').addEventListener('click', function (event) {
      event.preventDefault();
      guardarEst();
    });
  </script>

  <script type="text/javascript">
    function eliminarReceta(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar la receta seleccionada?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_receta").validate({
      rules: {
        "id_sg": {
          required: true
        },
        "nombrereceta_sg": {
          required: true
        },

        "descripcion_sg": {
          required: true
        },

        "cantidad_sg": {
          required: true
        },

        "tiempopreparacion_sg": {
          required: true
        },
        "id_sg_ingrediente": {
          required: true
        },
        "id_sg_platillo": {
          required: true
        }

      },
      messages: {
        "id_sg": {
          required: "Por favor seleccione el id de la receta"
        },
        "nombrereceta_sg": {
          required: "Por favor debe ingresar el nombre de la receta"
        },
        "descripcion_sg": {
          required: "Por favor debe ingresar una descripcion de la receta"
        },

        "cantidad_sg": {
          required: "Debe ingresar la cantidad  "
        },
        "tiempopreparacion_sg": {
          required: "Por favordebe ingresar el tiempo de la receta"
        },
        "id_sg_ingrediente": {
          required: "Por favor seleccione el tipo ingrediente"
        },
        "id_sg_platillo": {
          required: "Por favor seleccione el tipo platillo"
        },
      }
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
        // Inicializa DataTable con el archivo de idioma español y botones
        $('#tbl_recetas').DataTable({
          dom: 'Bfrtip',
          buttons: [
            { extend: 'print', className: 'btn btn-primary' ,text: 'Imprimir'},
            { extend: 'pdf', className: 'btn btn-danger', text:' PDF' },
            { extend: 'csv', className: 'btn btn-success', text:' CSV ' }
          ],
          "language": {
             url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
          }
        });
      });
  </script>
{% endblock %}
