{% extends "./plantilla.html" %}

{% block contenido %}
  <h1 class="text-center">LISTADO CLIENTE</h1>
  <br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="" action="/guardarCliente/" method="post" id="frm_nuevo_cliente">
          {% csrf_token %}

          <div class="form-group">
            <label for="nombre_sg"><b>Nombre:</b></label>
            <input type="text" id="nombre_sg" name="nombre_sg" oninput="soloLetras(this)" value="" placeholder="Ingrese el nombre del Cliente" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="id_sg_provincia"><b>Provincia:</b></label>
            <select class="form-control" name="id_sg_provincia" id="id_sg_provincia" required>
              <option value="">--Seleccione el tipo de Provincia--</option>
              {% for provincia in provincias %}
                <option value="{{provincia.id_sg}}">
                  {{provincia.nombre_sg}}
                </option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="direccion_sg"><b>Dirección:</b></label>
            <input type="text" id="direccion_sg" name="direccion_sg" oninput="soloLetras(this)" value="" placeholder="Ingrese la dirección" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="telefono_sg"><b>Teléfono:</b></label>
            <input type="text" id="telefono_sg" name="telefono_sg"  oninput="soloNumeros(this)" value="" placeholder="Ingrese el teléfono" class="form-control" required>
          </div>

          <br>
          <div class="text-center">
            <button type="submit" name="button" class="btn btn-primary">Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-md-12">
        <table  class="table table-info" class="table" id="tbl_clientes">
          <thead class="">
            <tr>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>DIRECCION</th>
              <th>TELEFONO</th>
              <th>PROVINCIA</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for cliente in clientes %}
              <tr>
                <td>{{ cliente.id_sg}}</td>
                <td>{{ cliente.nombre_sg }}</td>
                <td>{{ cliente.direccion_sg}}</td>
                <td>{{ cliente.telefono_sg }}</td>
                <td>{{ cliente.provincia.nombre_sg }}</td>
                <td>
                  <a href="/editarCliente/{{cliente.id_sg}}" class="btn btn-warning">Editar</a>
                  <a href="#"class="btn btn-danger" onclick="eliminarCliente('/eliminarCliente/{{cliente.id_sg}}')">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function guardarEst() {
      iziToast.info({
        title: 'Hello',
        message: 'Cliente guardada exitosamente!',
        position: 'topRight',
      });
    }

    document.getElementById('guardarBtn').addEventListener('click', function(event) {
      event.preventDefault();
      guardarEst();
    });
  </script>

  <script type="text/javascript">
    function eliminarCliente(url){
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el cliente seleccionado?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href=url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_cliente").validate({
      rules:{
        "id_sg": {
          required: true
        },
        "nombre_sg": {
          required: true
        },
        "id_sg_provincia": {
          required: true
        },
        "direccion_sg": {
          required: true
        },
        "telefono_sg": {
          required: true,
          minlength:10,
          maxlength:10
        }
      },
      messages:{
        "id_sg": {
          required: "Por favor seleccione el id del cliente"
        },
        "nombre_sg": {
          required: "Debe ingresar el nombre del cliente"
        },

        "id_sg_provincia": {
          required: "Por favor selecione el tipo Provincia"
        },
        "direccion_sg": {
          required: "Debe ingresar la dirección del cliente"
        },
        "telefono_sg": {
          required: "Debe ingresar el teléfono del cliente",
          minlength:"El telefono no debe tener menos de 10 digitos",
          maxlength:"El telefono no debe tener más de 10 digitos",
        }
      }
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
        // Inicializa DataTable con el archivo de idioma español y botones
        $('#tbl_clientes').DataTable({
          dom: 'Bfrtip',
          buttons: [
            { extend: 'print', className: 'btn btn-primary' ,text: 'Imprimir'},
            { extend: 'pdf', className: 'btn btn-danger', text:' PDF' },
            { extend: 'csv', className: 'btn btn-success', text:' CSV ' }
          ],
          "language": {
             url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
          }
        });
      });
  </script>
{% endblock %}
