{% extends "./plantilla.html" %}

{% block contenido %}
  <h1 class="text-center">LISTADO TIPO</h1>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto"> <!-- Agregada la clase mx-auto para centrar horizontalmente -->
        <form class="" action="/guardarTipo/" method="post" id="frm_nuevo_tipo">
          {% csrf_token %}

          <div class="form-group">
            <label for="nombre_sg"><b>Nombre:</b></label>
            <input type="text" id="nombre_sg" name="nombre_sg" oninput="soloLetras(this)" value="" placeholder="Ingrese el Nombre" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="descripcion_sg"><b>Descripcion:</b></label>
            <input type="text" id="descripcion_sg" name="descripcion_sg" value="" placeholder="Ingrese la Descripcion" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="contenidonutricional_sg"><b>Contenido Nutricional:</b></label>
            <input type="text" id="contenidonutricional_sg" name="contenidonutricional_sg" value="" placeholder="Ingrese el Contenido Nutricional" class="form-control" required>
          </div>


          <br>
          <div class="text-center">
            <button type="submit" name="button" class="btn btn-primary">Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 mx-auto"> <!-- Agregada la clase mx-auto para centrar horizontalmente -->
        <table  class="table table-info" class="table" id="tbl_tipos">
          <thead class="">
            <tr>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>DESCRIPCION</th>
              <th>CONTENIDO NUTRICIONAL</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for tipo in tipos %}
              <tr>
                <td>{{ tipo.id_sg}}</td>
                <td>{{ tipo.nombre_sg }}</td>
                <td>{{ tipo.descripcion_sg}}</td>
                <td>{{ tipo.contenidonutricional_sg }}</td>
                <td>
                  <a href="/editarTipo/{{tipo.id_sg}}" class="btn btn-warning">Editar</a>
                  <a href="#"class="btn btn-danger" onclick="eliminarTipo('/eliminarTipo/{{tipo.id_sg}}')">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function guardarEst() {
      iziToast.info({
        title: 'Hello',
        message: 'Tipo guardado exitosamente!',
        position: 'topRight',
      });
    }
    document.getElementById('guardarBtn').addEventListener('click', function (event) {
      event.preventDefault();
      guardarEst();
    });
  </script>

  <script type="text/javascript">
    function eliminarTipo(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el tipo seleccionada?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_tipo").validate({
      rules: {
        "id_sg": {
          required: true
        },
        "nombre_sg": {
          required: true
        },
        "descripcion_sg": {
          required: true
        },
        "contenidonutricional_sg": {
          required: true
        }
      },
      messages: {
        "id_sg": {
          required: "Por favor seleccione el id de la Provincia"
        },
        "nombre_sg": {
          required: "Debe ingresar el nombre del tipo "
        },
        "descripcion_sg": {
          required: "Debe ingresar la descripcion"
        },
        "contenidonutricional_sg": {
          required: "Debe ingresar el contenido nutricional"
        }
      }
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
        // Inicializa DataTable con el archivo de idioma español y botones
        $('#tbl_tipos').DataTable({
          dom: 'Bfrtip',
          buttons: [
            { extend: 'print', className: 'btn btn-primary' ,text: 'Imprimir'},
            { extend: 'pdf', className: 'btn btn-danger', text:' PDF' },
            { extend: 'csv', className: 'btn btn-success', text:' CSV ' }
          ],
          "language": {
             url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
          }
        });
      });
  </script>
{% endblock %}
