{% extends "./plantilla.html" %}

{% block contenido %}
  <h1 class="text-center">LISTADO PLATILLO</h1>
  <br>

  <div class="container">
      <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="" action="/guardarPlatillo/" method="post" enctype="multipart/form-data" id="frm_nuevo_platillo">
          {% csrf_token %}

          <div class="form-group">
            <label for="id_sg_tipo"><b>Tipo:</b></label>
            <select class="form-control" name="id_sg_tipo" id="id_sg_tipo" required>
              <option value="">--Seleccione el tipo --</option>
              {% for tipo in tipos %}
                <option value="{{tipo.id_sg}}">
                  {{tipo.nombre_sg}}
                </option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="nombreplatillo_sg"><b>Nombre:</b></label>
            <input type="text" id="nombreplatillo_sg" name="nombreplatillo_sg" oninput="soloLetras(this)" value="" placeholder="Ingrese el Nombre" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="descripcionplatillo_sg"><b>Descripcion:</b></label>
            <input type="text" id="descripcionplatillo_sg" name="descripcionplatillo_sg" value="" placeholder="Ingrese la Descripcion" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="precio_sg"><b>Precio:</b></label>
            <input type="text" id="precio_sg" name="precio_sg" oninput="soloTotal(this)" value="" placeholder="Ingrese el precio" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="fotografia"><b>Fotografia:</b></label>
            <input type="file" name="fotografia" id="fotografia" class="form-control" value="" accept="image/*">
          </div>

          <br>
          <div class="row">
            <div class="col-md-12 text-center">
              <button type="submit" name="button" class="btn btn-primary">Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <table class="table table-striped bg-info" class="table mx-auto" id="tbl_platillos">
          <thead class="">
            <tr>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>TIPO</th>
              <th>DESCRIPCION</th>
              <th>PRECIO</th>
              <th>FOTOGRAFIA</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for platillo in platillos %}
              <tr>
                <td>{{ platillo.id_sg}}</td>
                <td>{{ platillo.nombreplatillo_sg }}</td>
                <td>{{ platillo.tipo.nombre_sg}}</td>
                <td>{{ platillo.descripcionplatillo_sg}}</td>
                <td>{{ platillo.precio_sg}}</td>
                <td>
                  {% if platillo.fotografia %}
                  <a href="{{platillo.fotografia.url}}" target="_blank">
                    <img src="{{platillo.fotografia.url}}" alt="" height="50px"></a>
                  {% else %}
                  <b>N/A</b>
                  {% endif %}
                </td>

                <td>
                  <a href="/editarPlatillo/{{platillo.id_sg}}" class="btn btn-warning">Editar</a>
                  <a href="#" class="btn btn-danger" onclick="eliminarPlatillo('/eliminarPlatillo/{{platillo.id_sg}}')">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function guardarEst() {
      iziToast.info({
        title: 'Hello',
        message: 'Platillo guardada exitosamente!',
        position: 'topRight',
      });
    }
    document.getElementById('guardarBtn').addEventListener('click', function (event) {
      event.preventDefault();
      guardarEst();
    });
  </script>

  <script type="text/javascript">
    function eliminarPlatillo(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el platillo seleccionada?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_platillo").validate({
      rules: {
        "id_sg_tipo": {
          required: true
        },

        "id_sg": {
          required: true
        },
        "nombreplatillo_sg": {
          required: true
        },
        "descripcionplatillo_sg": {
          required: true
        },
        "precio_sg": {
          required: true
        },
        "fotografia": {
          required: true
        }
      },
      messages: {
        "id_sg_tipo": {
          required: "Por favor seleccione el Tipo"
        },
        "id_sg": {
          required: "Por favor seleccione el id de la Provincia"
        },
        "nombreplatillo_sg": {
          required: "Debe ingresar el nombre del platillo "
        },
        "descripcionplatillo_sg": {
          required: "Debe ingresar la descripcion del platillo"
        },
        "precio_sg": {
          required: "Debe ingresar el precio del platillo"
        },
        "fotografia": {
          required: "Por favor seleccione una fotografia"
        }

      }
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
        // Inicializa DataTable con el archivo de idioma español y botones
        $('#tbl_platillos').DataTable({
          dom: 'Bfrtip',
          buttons: [
            { extend: 'print', className: 'btn btn-primary' ,text: 'Imprimir'},
            { extend: 'pdf', className: 'btn btn-danger', text:' PDF' },
            { extend: 'csv', className: 'btn btn-success', text:' CSV ' }
          ],
          "language": {
             url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
          }
        });
      });
  </script>
{% endblock %}
