{% extends "plantilla.html" %}
{% block contenido %}
  {% load static %}

  <h1 class="text-center">LISTADO PROVINCIA</h1>
  <br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="" action="/guardarProvincia/" method="post" id="frm_nuevo_provincia">
          {% csrf_token %}

          <div class="form-group">
            <label for="nombre_sg"><b>Nombre:</b></label>
            <input type="text" id="nombre_sg" name="nombre_sg"  oninput="soloLetras(this)" value="" placeholder="Ingrese el nombre de la Provincia" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="region_sg"><b>Region:</b></label>
            <input type="text" id="region_sg" name="region_sg"  oninput="soloLetras(this)" value="" placeholder="Ingrese la región" class="form-control" required>
          </div>
          <!-- Added labels for "Clima" and "Gastronomía Local" -->
          <div class="form-group">
            <label for="clima_sg"><b>Clima:</b></label>
            <input type="text" id="clima_sg" name="clima_sg" oninput="soloLetras(this)" value="" placeholder="Ingrese el clima" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="gastronomialocal_sg"><b>Gastronomia Local:</b></label>
            <input type="text" id="gastronomialocal_sg" name="gastronomialocal_sg" oninput="soloLetras(this)" value="" placeholder="Ingrese la gastronomía" class="form-control" required>
          </div>
        </div>

        <div class="col-md-6 text-center">
|           <img  width="350px" height="260px "    src="{% static 'img/logoRestaurante.jpg'%}" alt="">
        </div>


      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <button type="submit" name="button" class="btn btn-primary">Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-12">
          <table class="table table-info" class="table" id="tbl_provincias">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>REGION</th>
                <th>CLIMA</th>
                <th>GASTRONOMIA LOCAL</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody>
              {% for provincia in provincias %}
              <tr>
                <td>{{ provincia.id_sg }}</td>
                <td>{{ provincia.nombre_sg }}</td>
                <td>{{ provincia.region_sg }}</td>
                <td>{{ provincia.clima_sg }}</td>
                <td>{{ provincia.gastronomialocal_sg }}</td>
                <td>
                  <a href="/editarProvincia/{{ provincia.id_sg }}" class="btn btn-warning">Editar</a>
                  <a href="#" class="btn btn-danger" onclick="eliminarProvincia('/eliminarProvincia/{{ provincia.id_sg }}')">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  <script type="text/javascript">
    function guardarEst() {
      iziToast.info({
        title: 'Hello',
        message: 'Provincia guardada exitosamente!',
        position: 'topRight',
      });
    }
    document.getElementById('guardarBtn').addEventListener('click', function (event) {
      event.preventDefault();
      guardarEst();
    });
  </script>

  <script type="text/javascript">
    function eliminarProvincia(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar la provincia seleccionada?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_provincia").validate({
      rules: {
        "id_sg": {
          required: true
        },
        "nombre_sg": {
          required: true
        },
        "region_sg": {
          required: true
        },
        "clima_sg": {
          required: true
        },
        "gastronomialocal_sg": {
          required: true
        }
      },
      messages: {
        "id_sg": {
          required: "Por favor seleccione el id de la Provincia"
        },
        "nombre_sg": {
          required: "Debe ingresar el nombre de la Provincia"
        },
        "region_sg": {
          required: "Debe ingresar la región"
        },
        "clima_sg": {
          required: "Debe ingresar el clima"
        },
        "gastronomialocal_sg": {
          required: "Debe ingresar la gastronomía"
        }
      }
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      // Inicializa DataTable con el archivo de idioma español y botones
      $('#tbl_provincias').DataTable({
        dom: 'Bfrtip',
        buttons: [
          { extend: 'print', className: 'btn btn-primary' ,text: 'Imprimir'},
          { extend: 'pdf', className: 'btn btn-danger', text:' PDF' },
          { extend: 'csv', className: 'btn btn-success', text:' CSV ' }
        ],
        "language": {
          url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
        }
      });
    });
  </script>

{% endblock %}
