{% extends "./plantilla.html" %}

{% block contenido %}
  <h1 class="text-center">LISTADO PEDIDO</h1>
  <br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="" action="/guardarPedido/" method="post" id="frm_nuevo_pedido">
          {% csrf_token %}

          <div class="form-group">
            <label for="cliente_sg"><b>Tipo:</b></label>
            <input type="text" id="cliente_sg" name="cliente_sg" oninput="soloLetras(this)" value="" placeholder="Ingrese el tipo de Cliente" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="fechapedido_sg"><b>Fecha Pedido:</b></label>
            <input type="datetime-local" id="fechapedido_sg" name="fechapedido_sg" value="{{pedido.fechapedido_sg|date:'Y-m-dTH:i'}}" placeholder="Ingrese la Fecha del pedido" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="estado_sg"><b>Estado:</b></label>
            <input type="text" id="estado_sg" name="estado_sg" oninput="soloLetras(this)" value="" placeholder="Ingrese el estado del pedido" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="id_sg_pedido"><b>Tipo Cliente:</b></label>
            <select class="form-control" name="id_sg_cliente" id="id_sg_cliente" required>
              <option value="">--Seleccione el tipo de Cliente--</option>
              {% for cliente in clientes %}
                <option value="{{cliente.id_sg}}">
                  {{cliente.nombre_sg}}
                </option>
              {% endfor %}
            </select>


          <br>
          <div class="text-center">
            <button type="submit" name="button" class="btn btn-primary">Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-md-12">
        <table  class="table table-info" class="table" id="tbl_pedidos">
          <thead class="">
            <tr>
              <th>ID</th>
              <th>TIPO</th>
              <th>FECHA PEDIDO</th>
              <th>ESTADO</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for pedido in pedidos %}
              <tr>
                <td>{{ pedido.id_sg}}</td>
                <td>{{ pedido.cliente_sg }}</td>
                <td>{{ pedido.fechapedido_sg }}</td>
                <td>{{ pedido.estado_sg }}</td>
                <td>
                  <a href="/editarPedido/{{pedido.id_sg}}" class="btn btn-warning">Editar</a>
                  <a href="#" class="btn btn-danger" onclick="eliminarPedido('/eliminarPedido/{{pedido.id_sg}}')">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function guardarEst() {
      iziToast.info({
        title: 'Hello',
        message: 'Pedido guardada exitosamente!',
        position: 'topRight',
      });
    }
    document.getElementById('guardarBtn').addEventListener('click', function (event) {
      event.preventDefault();
      guardarEst();
    });
  </script>

  <script type="text/javascript">
    function eliminarPedido(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el pedido seleccionada?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_pedido").validate({
      rules: {
        "id_sg": {
          required: true
        },
        "cliente_sg": {
          required: true
        },
        "fechapedido_sg": {
          required: true
        },
        "estado_sg": {
          required: true
        },
        "id_sg_cliente": {
          required: true
        },

      },
      messages: {
        "id_sg": {
          required: "Por favor seleccione el id de la Provincia"
        },
        "cliente_sg": {
          required: "Debe ingresar el tipo de pedido"
        },
        "fechapedido_sg": {
          required: "Debe ingresar la fecha del pedido"
        },
        "estado_sg": {
          required: "Debe ingresar el estado "
        },
        "id_sg_cliente": {
          required: "Por favor seleccione el tipo del cliente  "
        },

      }
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
        // Inicializa DataTable con el archivo de idioma español y botones
        $('#tbl_pedidos').DataTable({
          dom: 'Bfrtip',
          buttons: [
            { extend: 'print', className: 'btn btn-primary' ,text: 'Imprimir'},
            { extend: 'pdf', className: 'btn btn-danger', text:' PDF' },
            { extend: 'csv', className: 'btn btn-success', text:' CSV ' }
          ],
          "language": {
             url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
          }
        });
      });
  </script>


  <script>
      // Obtener el elemento input por su ID
      var fechaPedidoInput = document.getElementById("fechapedido_sg");

      // Obtener la fecha y hora actual en formato ISO (YYYY-MM-DDTHH:mm)
      var fechaHoraActual = new Date().toISOString().slice(0, 16);

      // Establecer la fecha y hora actual como valor predeterminado
      fechaPedidoInput.value = fechaHoraActual;

      // Agregar un evento change al input (opcional)
      fechaPedidoInput.addEventListener("change", function() {
          var valorFechaPedido = fechaPedidoInput.value;
          console.log("Fecha del pedido seleccionada:", valorFechaPedido);
          // Puedes realizar acciones adicionales si es necesario
      });
  </script>

{% endblock %}
