{% extends "./plantilla.html" %}

{% block contenido %}

  <h1 class="text-center">LISTADO DETALLE</h1>
  <br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form action="/guardarDetalle/" method="post" id="frm_nuevo_detalle">
          {% csrf_token %}
          <div class="form-group">
            <label for="fecha_sg"><b>Fecha:</b></label>
            <input type="date" id="fecha_sg" name="fecha_sg" value="" placeholder="Ingrese la Fecha" class="form-control" required readonly>
          </div>
          <div class="form-group">
            <label for="observaciones_sg"><b>Observaciones:</b></label>
            <input type="text" id="observaciones_sg" name="observaciones_sg" value="" placeholder="Ingrese las observaciones" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="id_sg_pedido"><b>Tipo Pedido:</b></label>
            <select class="form-control" name="id_sg_pedido" id="id_sg_pedido" required>
              <option value="">--Seleccione el tipo de Pedido--</option>
            {% for pedido in pedidos %}
            <option value="{{pedido.id_sg}}"> {{pedido.cliente_sg}} </option>
           {% endfor %}
           </select>



          <div class="form-group">
            <label for="id_sg_platillo"><b>Tipo Platillo:</b></label>
            <select class="form-control" name="id_sg_platillo" id="id_sg_platillo" required>
              <option value="">--Seleccione el tipo de Platillo--</option>
            {% for platillo in platillos %}
            <option value="{{platillo.id_sg}}">
            {{platillo.nombreplatillo_sg}}
            </option>
           {% endfor %}
           </select>
           <div class="form-group">
             <label for="total_sg"><b>Total:</b></label>
             <input type="text" id="total_sg" name="total_sg" value="" placeholder="Ingrese el total" class="form-control" required>
           </div>

          <br>
          <div class="row">
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="reset" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
        </form>


</div>
</div>
</div>


    <div class="row">
      <div class="col-md-12">
        <table lass="table table-info" class="table" id="tbl_detalles">
          <thead>
            <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>OBSERVACIONES</th>
              <th>PEDIDO</th>
              <th>PLATILLO</th>
              <th>TOTAL</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for detalle in detalles %}
              <tr>
                <td>{{ detalle.id_sg }}</td>
                <td>{{ detalle.fecha_sg }}</td>
                <td>{{ detalle.observaciones_sg }}</td>
                <td>{{ detalle.pedido.cliente_sg }}</td>
                <td>{{ detalle.platillo.nombreplatillo_sg }}</td>
                <td>{{ detalle.total_sg }}</td>

                <td>
                  <a href="/editarDetalle/{{ detalle.id_sg }}" class="btn btn-warning">Editar</a>
                  <a href="#" class="btn btn-danger" onclick="eliminarDetalle('/eliminarDetalle/{{ detalle.id_sg }}')">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <script type="text/javascript">
    function eliminarDetalle(url) {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el detalle seleccionado?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  </script>




  <script type="text/javascript">
    $(document).ready(function() {
        // Inicializa DataTable con el archivo de idioma español y botones
        $('#tbl_detalles').DataTable({
          dom: 'Bfrtip',
          buttons: [
            { extend: 'print', className: 'btn btn-primary' ,text: 'Imprimir'},
            { extend: 'pdf', className: 'btn btn-danger', text:' PDF' },
            { extend: 'csv', className: 'btn btn-success', text:' CSV ' }
          ],
          "language": {
             url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
          }
        });
      });
  </script>


  <script type="text/javascript">
    $(document).ready(function () {
      $("#frm_nuevo_detalle").validate({
        rules: {
          "fecha_sg": {
            required: true
          },
          "observaciones_sg": {
            required: true
          },
          "id_sg_pedido": {
            required: true
          },
          "id_sg_platillo": {
            required: true
          },
          "total_sg": {
            required: true
          }
        },
        messages: {
          "fecha_sg": {
            required: "Debe ingresar la fecha"
          },
          "observaciones_sg": {
            required: "Debe ingresar las observaciones"
          },
          "id_sg_pedido": {
            required: "Por favor seleccione el tipo pedido"
          },
          "id_sg_platillo": {
            required: "Por favor seleccione el tipo platillo"
          },
          "total_sg": {
            required: "Debe ingresar el total"
          }
        },
        submitHandler: function (form) {
          // Este bloque se ejecuta solo si la validación es exitosa
          guardarEst();
          form.submit();
        }
      });

      function guardarEst() {
        iziToast.info({
          title: 'Hello',
          message: 'Detalle guardado exitosamente!',
          position: 'topRight',
        });
      }

      // Agregar el evento de clic al botón después de cargar el documento
      $("#frm_nuevo_detalle button[type='submit']").on("click", function () {
        // Validar el formulario antes de enviarlo
        $("#frm_nuevo_detalle").valid();
      });
    });
  </script>




  <script>
      // Obtener el elemento input por su ID
      var fechaInput = document.getElementById("fecha_sg");

      // Obtener la fecha actual en formato ISO (YYYY-MM-DD)
      var fechaActual = new Date().toISOString().split('T')[0];

      // Establecer la fecha actual como valor predeterminado
      fechaInput.value = fechaActual;

      // Agregar un evento change al input (opcional)
      fechaInput.addEventListener("change", function() {
          var valorFecha = fechaInput.value;
          console.log("Fecha seleccionada:", valorFecha);
          // Puedes realizar acciones adicionales si es necesario
      });
  </script>

{% endblock %}
