{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/principal.css' %}">
  <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
  <script type="text/javascript" src="{% static 'librerias/jquery-validate/jquery.validate.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/restaurantes.js'%}"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">RESTAURANTE SG </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link text-white" href="{% url 'listado_provincia' %}">PROVINCIA</a>
          <a class="nav-item nav-link text-white" href="{% url 'listado_cliente' %}">CLIENTE</a>
          <a class="nav-item nav-link text-white" href="{% url 'listado_pedido' %}">PEDIDO</a>
          <a class="nav-item nav-link text-white" href="{% url 'listado_tipo' %}">TIPO</a>
          <a class="nav-item nav-link text-white" href="{% url 'listado_platillo' %}">PLATILLO</a>
          <a class="nav-item nav-link text-white" href="{% url 'listado_detalle' %}">DETALLE</a>
          <a class="nav-item nav-link text-white" href="{% url 'listado_ingrediente' %}">INGREDIENTE</a>
          <a class="nav-item nav-link text-white" href="{% url 'listado_receta' %}">RECETA</a>
        </div>
      </div>
    </div>
  </nav>
  {% block contenido %}
  {% endblock %}

  {% if messages %}
    {% for mensaje in messages %}
      <script type="text/javascript">
        iziToast.success({
          title: 'OK',
          message: '{{mensaje}}',
          position: 'topRight'
        });
      </script>
    {% endfor %}
  {% endif %}

  <footer class="text-center text-lg-start bg-dark text-white">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
              <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->

          <!-- Right -->
          <div>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-google"></i>
              </a>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-linkedin"></i>
              </a>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-github"></i>
              </a>
          </div>
          <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <style>
          /* Estilo personalizado para hacer que el footer ocupe todo el ancho */
          footer {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 1000; /* Ajusta según sea necesario */
          }
        </style>



      <!-- Section: Links  -->
      <section class="bg-dark text-white container-fluid">
          <div class="text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                      <!-- Content -->
                      <h6 class="text-uppercase fw-bold mb-4">
                          <i class="fas fa-gem me-3"></i>Company name
                      </h6>
                      <p>
                          Here you can use rows and columns to organize your footer content. Lorem ipsum
                          dolor sit amet, consectetur adipisicing elit.
                      </p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                      <!-- Links -->
                      <h6 class="text-uppercase fw-bold mb-4">
                          Products
                      </h6>
                      <p>
                          <a href="#!" class="text-reset">Angular</a>
                      </p>
                      <p>
                          <a href="#!" class="text-reset">React</a>
                      </p>
                      <p>
                          <a href="#!" class="text-reset">Vue</a>
                      </p>
                      <p>
                          <a href="#!" class="text-reset">Laravel</a>
                      </p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                      <!-- Links -->
                      <h6 class="text-uppercase fw-bold mb-4">
                          Useful links
                      </h6>
                      <p>
                          <a href="#!" class="text-reset">Pricing</a>
                      </p>
                      <p>
                          <a href="#!" class="text-reset">Settings</a>
                      </p>
                      <p>
                          <a href="#!" class="text-reset">Orders</a>
                      </p>
                      <p>
                          <a href="#!" class="text-reset">Help</a>
                      </p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                      <!-- Links -->
                      <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                      <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                      <p>
                          <i class="fas fa-envelope me-3"></i>
                          info@example.com
                      </p>
                      <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                      <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                  </div>
                  <!-- Grid column -->
              </div>
              <!-- Grid row -->
          </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
  </footer>
  <!-- Footer -->
  </body>
  </html>
